/* ----------------- Class CSS ----------------- */

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:#9274c7;
}

.authors{
    background-color: #f8dff7;
}

body {
    overflow-x: hidden;
}

.footer{
    background-color: #8c5cdf;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.navbar-brand img {
    max-width: 70px;
}

.nb-background-color{   /* navbar background color */
    background-color: #8c5cdf;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #f8dff7;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #f8dff7;
    padding: 1px;
}

.procedure-img{
    height: 200px;
}

.showcase{
    background-color: #e2b0fc; 
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}